<a href="https://colab.research.google.com/github/TatianaPizza/DataV_23-II/blob/main/Workshop_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1 align = "center">
<strong> Universidad de La Salle </strong>
</h1>

<h1 align = "center">
<strong> Finance and International Commerce Program </strong>
</h1>

<h1 align = "center">
<strong> Data Visualization - Workshop 1 </strong>
</h1>

# **Instructions**

1. Please read carefully the document. Ask all the questions you may have.
2. Save this file in your Google Drive.
3. DO NOT alter any cell unless it specifically ask you to do it.
4. You will have **two hours** (until 11am) maximum to finish and deliver this workshop.
5. You can use any help you want: your notes, your codes, internet, classmates.
6. Nevertheless, the workshop must be presented individually.
7. Once you have finish, save a copy in your GitHub class repository.
8. The deliver process is as follows:
    
    8.1. Via email you will send the link to the GitHub location.
    
    8.2. In the same mail, just for safety, you will attach a copy of your `.ipynb` file.
    
    8.3. The email must have the subject: "W1 DV".

# **To keep in mind**

* The excercises propouse are intended to **push** you a little futher in your Pyton skills.
* This means that there are going to be exercises above the level seen in class.
* The idea is to incentive your creative thinking and solving problem skills.
* As always there several ways to do the excersice. But in this case, I ask you to use only the tools we learned.
* I ask you to trust me. Give your best effort. Grades do not matter here.

# **Exercise Set**

## Ex 1.

In the cell code below, first create a variable with your full name then write the appropiate code, using *split*, to print your full name as this:

`First Name: José` &nbsp;   &nbsp;   &nbsp;   &nbsp;   &nbsp; `Middle Name: Rodrigo`

`First Last  Name: Vélez` &nbsp;   &nbsp;   &nbsp;   &nbsp;   &nbsp; `Second Last Name: Molano`

In [11]:
# Answ. Ex 1
# (write your code below)
Full_name= 'Alba Tatiana Pizza Gamba'
print("First name:", Full_name.split(" ")[0])
print("Middle name:", Full_name.split(" ")[1])
print("First last name:", Full_name.split(" ")[2])
print("Second last name:", Full_name.split(" ")[3])

First name: Alba
Middle name: Tatiana
First last name: Pizza
Second last name: Gamba

## Ex 2.

In the cell code below, you are given two random numbers `x` and `y`.

Write the appropiate code to print the result of dividing `x` by all its precedents rounded by `y` decimal positions.

This is an example of the expected result for `x = 15` and `y = 2`:

`15 / 1 = 15.00`

`15 / 2 = 7.50`

`15 / 3 = 5.00`

`...`

`15 / 15 = 1.00`

**JUST IN CASE!** You must use the variables given to you

In [19]:
# Answ. Ex 2
###################################
#      DO NOT MODIFY THIS PART    #
import numpy as np
x = round(np.random.uniform(12,22))
y = round(np.random.uniform(1,4))
###################################

# (write your code below)
print('The variable is:',x)
print('The decimals is:',y)
print('Division list',x, ':')
for i in range (1,x+1): print(x, '/',i, '=', round(x/i,y))

The variable is: 16
The decimals is: 2
Division list 16 :
16 / 1 = 16.0
16 / 2 = 8.0
16 / 3 = 5.33
16 / 4 = 4.0
16 / 5 = 3.2
16 / 6 = 2.67
16 / 7 = 2.29
16 / 8 = 2.0
16 / 9 = 1.78
16 / 10 = 1.6
16 / 11 = 1.45
16 / 12 = 1.33
16 / 13 = 1.23
16 / 14 = 1.14
16 / 15 = 1.07
16 / 16 = 1.0

## Ex 3.

The Fibonnaci sequence is a sequence constructed by the process:

$x_{i} = x_{i-1} + x_{i-2}$

where $x_{1} = x_{2} = 1$.

Below you are given a random number `z`, write the appropiate code to calculate and print the `z`th position of the Fibonnaci sequence.

In [36]:
# Answ. Ex 3
###################################
#      DO NOT MODIFY THIS PART    #
import numpy as np
z = round(np.random.uniform(50,100))
###################################

# (write your code below)
f1= 1
f2= 1
f= f1 + f2

f1 = f2
f2 = f
print(z,"th", "The Fibonacci sequence up")
for i in range(4, z+1):
  f = f1 + f2
  print('The position is',i,'th:', f)
  f1 = f2
  f2 = f

79 th The Fibonacci sequence up
The position is 4 th: 3
The position is 5 th: 5
The position is 6 th: 8
The position is 7 th: 13
The position is 8 th: 21
The position is 9 th: 34
The position is 10 th: 55
The position is 11 th: 89
The position is 12 th: 144
The position is 13 th: 233
The position is 14 th: 377
The position is 15 th: 610
The position is 16 th: 987
The position is 17 th: 1597
The position is 18 th: 2584
The position is 19 th: 4181
The position is 20 th: 6765
The position is 21 th: 10946
The position is 22 th: 17711
The position is 23 th: 28657
The position is 24 th: 46368
The position is 25 th: 75025
The position is 26 th: 121393
The position is 27 th: 196418
The position is 28 th: 317811
The position is 29 th: 514229
The position is 30 th: 832040
The position is 31 th: 1346269
The position is 32 th: 2178309
The position is 33 th: 3524578
The position is 34 th: 5702887
The position is 35 th: 9227465
The position is 36 th: 14930352
The position is 37 th: 24157817
The position is 38 th: 39088169
The position is 39 th: 63245986
The position is 40 th: 102334155
The position is 41 th: 165580141
The position is 42 th: 267914296
The position is 43 th: 433494437
The position is 44 th: 701408733
The position is 45 th: 1134903170
The position is 46 th: 1836311903
The position is 47 th: 2971215073
The position is 48 th: 4807526976
The position is 49 th: 7778742049
The position is 50 th: 12586269025
The position is 51 th: 20365011074
The position is 52 th: 32951280099
The position is 53 th: 53316291173
The position is 54 th: 86267571272
The position is 55 th: 139583862445
The position is 56 th: 225851433717
The position is 57 th: 365435296162
The position is 58 th: 591286729879
The position is 59 th: 956722026041
The position is 60 th: 1548008755920
The position is 61 th: 2504730781961
The position is 62 th: 4052739537881
The position is 63 th: 6557470319842
The position is 64 th: 10610209857723
The position is 65 th: 17167680177565
The position is 66 th: 27777890035288
The position is 67 th: 44945570212853
The position is 68 th: 72723460248141
The position is 69 th: 117669030460994
The position is 70 th: 190392490709135
The position is 71 th: 308061521170129
The position is 72 th: 498454011879264
The position is 73 th: 806515533049393
The position is 74 th: 1304969544928657
The position is 75 th: 2111485077978050
The position is 76 th: 3416454622906707
The position is 77 th: 5527939700884757
The position is 78 th: 8944394323791464
The position is 79 th: 14472334024676221

## Ex 4.

Create a string variable with the name of your favorite music artist or group.Write the appropiate code to print it in reversed order.

*Example:*

`w = 'Dog'`

Expected result: `'goD'`.

In [38]:
# Answ. Ex 4
# (write your code below)
J= "Juanes"
print("J=",J)
print(('Juanes')[::-1])

J= Juanes
senauJ